@CHARSET "UTF-8";

body{
	margin: 0;
	padding: 0;
	width: 100%;
}

.content{
	text-align: center;
	margin: auto;
	padding: 0;
	width: 90%;
}

.out{
	margin: auto;
	margin-top: 2%;
	padding: 0;
	width: 80%;
}

.inner{
	margin: 0;
	padding: 0;
	width:100%;
}

.result{
	width: 100%; 
	text-align: center;
	font-size: 15px;
}

input.toCart{
	display:none;
}